<Alloy>	
	<View id="menu">
		<View class="menubanner"></View>
		<TableView class="menuoptions" onClick="menuclick">
			<TableViewRow class="menurowcontainer" rowId="1">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Dining</Label>
				</View>
			</TableViewRow>
			<TableViewRow class="menurowcontainer" rowId="2">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Things to do</Label>
				</View>
			</TableViewRow>
			<TableViewRow class="menurowcontainer" rowId="3">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Where to Stay</Label>
				</View>
			</TableViewRow>
			<TableViewRow class="menurowcontainer" rowId="4">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Shopping</Label>
				</View>
			</TableViewRow>
						<TableViewRow class="menurowcontainer" rowId="5">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Get Around</Label>
				</View>
			</TableViewRow>
						<TableViewRow class="menurowcontainer" rowId="6">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Nightlife</Label>
				</View>
			</TableViewRow>
						<TableViewRow class="menurowcontainer" rowId="7">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Offers</Label>
				</View>
			</TableViewRow>
						<TableViewRow class="menurowcontainer" rowId="8">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Real Estate</Label>
				</View>
			</TableViewRow>
		</TableView>
	</View>
	
</Alloy>